.sg-edge {
  position: absolute;
  z-index: 99;
  background-color: rgba(78, 124, 194, 0.3);
  border: 1px solid rgba(70, 131, 180, 0.7);
}

.sg-edge-column {
  right: 0;
  left: 0;
  width: 100%;
  transition: height 300ms, height 300ms;
  border-radius: 0% 0% 50% 50% / 0 0 100% 100%;
}

.sg-edge-row {
  top: 0;
  bottom: 0;
  height: 100%;
  transition: width 300ms, height 300ms;
}

.sg-edge-top {
  top: 0;
}

.sg-edge-bottom {
  bottom: 0;
}

.sg-edge-left {
  left: 0;
}

.sg-edge-right {
  right: 0;
}